<!DOCTYPE html>
<html>
<head>
    <title>Validar Correo</title>
</head>
<body>
<h1>Validar Correo</h1>
<form>
    <label for="email">Correo Electrónico:</label>
    <input type="text" id="email" name="email">
    <br>
    <button type="button" onclick="validarCorreo()">Validar</button>
</form>
<div id="resultado"></div>
<script>
		function validarCorreo() {
			var email = document.getElementById("email").value;
			fetch('/tuproyecto/validacorreo?email=' + email)
				.then(response => response.json())
				.then(data => {
					var resultado = document.getElementById("resultado");
					if (data.valido) {
						resultado.innerHTML = "La dirección de correo es válida.";
					} else {
						resultado.innerHTML = "La dirección de correo no es válida.";
					}
				});
		}
	</script>
</body>
</html>